* {
    box-sizing: border-box;
}

body{
    margin:0;
    background-color: rgb(252, 252, 252);
    color: rgb(48, 39, 39);
}


a{
    text-decoration: none;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}